<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr>
<form th:action="@{/login}" method="post">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="text" id="username" name="username" class="form-control" />
        <label class="form-label" for="username">username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="password"  name="password" class="form-control" />
        <label class="form-label" for="password">Password</label>
    </div>

<!--    &lt;!&ndash; 2 column grid layout for inline styling &ndash;&gt;
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            &lt;!&ndash; Checkbox &ndash;&gt;
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
        </div>

        <div class="col">
            &lt;!&ndash; Simple link &ndash;&gt;
            <a href="#!">Forgot password?</a>
        </div>
    </div>-->

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

<!--    &lt;!&ndash; Register buttons &ndash;&gt;
    <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>-->
</form>
</body>
</html>