<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr>
<form th:action="@{/signUp}" th:method="POST" th:object="${account}">
<input type="text" id="username" name="username" th:field="*{username}" />
    <input type="email" id="email" name="email"th:field="*{email}"/>
    <input type="password" id="password" name="password" th:field="*{password}"/>
    <button type="submit">회원가입</button>
</form>
</body>
</html>